aioboto3==8.0.5
aiobotocore==1.0.4
aiohttp==3.7.4
aioitertools==0.7.0
async-timeout==3.0.1
attrs==20.2.0
boto3==1.12.32
botocore==1.15.32
chardet==3.0.4
docutils==0.15.2
idna==2.10
jmespath==0.10.0
multidict==4.7.6
python-dateutil==2.8.1
s3transfer==0.3.3
six==1.15.0
typing-extensions==3.7.4.3
urllib3==1.26.5
wrapt==1.12.1
yarl==1.5.1
