*.pyc
*.egg-info/
dist/
*.swp
*.log
*.DS_Store
env.local
**/.env
.vscode/
.idea/
local_settings.py
rikolti_bucket/
rikolti_data/
.aws-sam/
samconfig.toml
/.bash_history
/.ipython
/.cache
/.local
!/.github
startup.sh

__pycache__
.venv/
env/