# metadata_fetcher
export FETCHER_DATA_DEST=file:///usr/local/airflow/rikolti_data
export NUXEO=                                                       # ask for a key - required to run the NuxeoFetcher
export FLICKR_API_KEY=                                              # ask for a key - required to run the FlickrFetcher

# metadata_mapper
export MAPPER_DATA_SRC=file:///usr/local/airflow/rikolti_data
export MAPPER_DATA_DEST=file:///usr/local/airflow/rikolti_data
export SKIP_UNDEFINED_ENRICHMENTS=True

# validator
# export UCLDC_SOLR_URL="https://harvest-stg.cdlib.org/solr_api"    # this is solr stage
export UCLDC_SOLR_URL="https://solr.calisphere.org/solr"            # this is solr prod
export UCLDC_SOLR_API_KEY=                                          # ask for a key

# content_harvester
export CONTENT_DATA_SRC=file:///rikolti_data
export CONTENT_DATA_DEST=file:///rikolti_data
export CONTENT_DEST=file:///rikolti_content

# content_harvester when run locally via aws_mwaa_local_runner
export CONTENT_DATA_MOUNT=/Users/awieliczka/Projects/rikolti_data
export CONTENT_MOUNT=/Users/awieliczka/Projects/rikolti_content

# indexer
export INDEXER_DATA_SRC=file:///usr/local/airflow/rikolti_data
export RIKOLTI_ES_ENDPOINT=                                          # ask for endpoint url
export RIKOLTI_ES_PASS=                                              # ask for password

export RIKOLTI_HOME=/usr/local/airflow/dags/rikolti