# metadata_fetcher
export FETCHER_DATA_DEST=file:///usr/local/airflow/rikolti_data
export NUXEO=             # Required to run the NuxeoFetcher
export FLICKR_API_KEY=    # Required to run the FlickrFetcher

# metadata_mapper
export MAPPER_DATA_SRC=file:///usr/local/airflow/rikolti_data
export MAPPER_DATA_DEST=file:///usr/local/airflow/rikolti_data
export SKIP_UNDEFINED_ENRICHMENTS=True