<html>
<head>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://calisphere.org/static_root/styles/main.css"/>
	<style>
		pre {background-color: #E7E7E7; border-radius: 10px; height: 400px; padding: 20px}
	</style>
</head>

<body>
	<div class="container-fluid">

		<a href="{{ calisphere_link }}">View on Calisphere</a>

		<hr>
		<h1>Rikolti Data in Calisphere Item Template</h1>
		<div class="meta-block" itemscope itemtype="https://schema.org/CreativeWork">

		  <dl class="meta-block__list">
		    <dt class="meta-block__type">Title</dt>
		    <dd class="meta-block__defin" itemprop="name">{{ item.title }}<br/></dd>

		    {% if 'alternative_title' in item %}
		      <dt class="meta-block__type">Alternative Title</dt>
		      <dd class="meta-block__defin">{% for title in item.alternative_title %}{{ title }} <br> {% endfor %}</dd>
		    {% endif %}

		    {% if 'creator' in item %}
		      <dt class="meta-block__type">Creator</dt>
		      <dd class="meta-block__defin" itemprop="creator">{% for creator in item.creator %}{{ creator }} <br> {% endfor %}</dd>
		    {% endif %}

		    {% if 'contributor' in item %}
		      <dt class="meta-block__type">Contributor</dt>
		      <dd class="meta-block__defin" itemprop="contributor">{% for contributor in item.contributor %}{{ contributor }} <br> {% endfor %}</dd>
		    {% endif %}

		    {% if 'date' in item %}
		      <dt class="meta-block__type">Date Created and/or Issued</dt>
		      <dd class="meta-block__defin" itemprop="dateCreated">{% for date in item.date %}{{ date }} <br> {% endfor %}</dd>
		    {% endif %}

		    {% if 'publisher' in item %}
		      <dt class="meta-block__type">Publication Information</dt>
		      <dd class="meta-block__defin">{% for publisher in item.publisher %}{{ publisher }} <br> {% endfor %}</dd>
		    {% endif %}

		    {% if 'parsed_repository_data' in item %}
		      <dt class="meta-block__type">Contributing Institution</dt>
		      <dd class="meta-block__defin" itemprop="provider">
		        {% for repository in item.parsed_repository_data %}
		          {% if repository.campus %}
		            {{ repository.campus }},
		          {% endif %}
		          {{ repository.name }}<br>
		        {% endfor %}
		      </dd>
		    {% endif %}

		    {% if 'parsed_collection_data' in item %}
		      <dt class="meta-block__type">Collection</dt>
		      <dd class="meta-block__defin" itemprop="isPartOf">{% for collection in item.parsed_collection_data %}
		        {{ collection.name }} <br> {% endfor %}</dd>
		    {% endif %}

		    {% if 'rights' or 'rights_uri' in item %}
		      <dt class="meta-block__type">Rights Information</dt>
		      <dd class="meta-block__defin">
		      {% if 'rights' in item %}
		        {% for rights in item.rights %}{{ rights }} <br>{% endfor %}
		      {% endif %}
		      {% if 'rights_uri' in item %}
		        <a href="{{ item.rights_uri.url }}">{{ item.rights_uri.statement }}</a><br>
		      {% endif %}
		    {% endif %}

		    {% if 'rights_holder' in item %}
					<dt class="meta-block__type">Rights Holder and Contact</dt>
					<dd class="meta-block__defin" itemprop="copyrightHolder">{% for rights_holder in item.rights_holder %}{{ rights_holder }} <br> {% endfor %}</dd>
				{% endif %}

		    {% if 'rights_note' in item %}
					<dt class="meta-block__type">Rights Notes</dt>
					<dd class="meta-block__defin">{% for rights_note in item.rights_note %}{{ rights_note }} <br> {% endfor %}</dd>
				{% endif %}

		    <!-- rights date is not currently multivalued -->
		    {% if 'rights_date' in item %}
					<dt class="meta-block__type">Date of Copyright</dt>
					<dd class="meta-block__defin" itemprop="copyrightYear">{{ item.rights_date }} <br> </dd>
				{% endif %}

		    {% if 'description' in item %}
					<dt class="meta-block__type">Description</dt>
					<dd class="meta-block__defin" itemprop="description">{% for description in item.description %}{{ description }} <br> {% endfor %}</dd>
				{% endif %}

		    {% if 'type' in item %}
					<dt class="meta-block__type">Type</dt>
					<dd class="meta-block__defin">{{ item.type }}</dd>
				{% endif %}


		    {% if 'genre' in item %}
					<dt class="meta-block__type">Form/Genre</dt>
					<dd class="meta-block__defin" itemprop="genre">{% for genre in item.genre %}{{ genre }} <br> {% endfor %}</dd>
				{% endif %}

		    {% if 'extent' in item %}
					<dt class="meta-block__type">Extent</dt>
					<dd class="meta-block__defin">{% for extent in item.extent %}{{ extent }} <br> {% endfor %}</dd>
				{% endif %}

		    {% if 'identifier' in item %}
					<dt class="meta-block__type">Identifier</dt>
					<dd class="meta-block__defin">{% for identifier in item.identifier %}{{ identifier }} <br> {% endfor %}</dd>
				{% endif %}

		    {% if 'language' in item %}
					<dt class="meta-block__type">Language</dt>
					<dd class="meta-block__defin" itemprop="inLanguage">{% for language in item.language %}{{ language }} <br> {% endfor %}</dd>
				{% endif %}

		    {% if 'subject' in item %}
		      <dt class="meta-block__type">Subject</dt>
					<dd class="meta-block__defin" itemprop="about">{% for subject in item.subject %}{{ subject }} <br> {% endfor %}</dd>
				{% endif %}

		    {% if 'temporal' in item %}
					<dt class="meta-block__type">Time Period</dt>
					<dd class="meta-block__defin">{% for temporal in item.temporal %}{{ temporal }} <br> {% endfor %}</dd>
				{% endif %}

		    {% if 'coverage' in item %}
					<dt class="meta-block__type">Place</dt>
					<dd class="meta-block__defin">{% for coverage in item.coverage %}{{ coverage }} <br> {% endfor %}</dd>
				{% endif %}

		    {% if 'source' in item %}
					<dt class="meta-block__type">Source</dt>
					<dd class="meta-block__defin">{{ item.source }}</dd>
				{% endif %}

		    {% if 'relation' in item %}
					<dt class="meta-block__type">Relation</dt>
					<dd class="meta-block__defin">{% for relation in item.relation %}
		        {{ relation }}
		        <br> {% endfor %}</dd>
				{% endif %}

		    {% if 'provenance' in item %}
					<dt class="meta-block__type">Provenance</dt>
					<dd class="meta-block__defin">{% for provenance in item.provenance %}{{ provenance }} <br> {% endfor %}</dd>
				{% endif %}

		    {% if 'location' in item %}
					<dt class="meta-block__type">Location</dt>
					<dd class="meta-block__defin">{% for location in item.location %}{{ location }} <br> {% endfor %}</dd>
				{% endif %}

		    {% if 'transcription' in item %}
		      <dt class="meta-block__type">Transcription</dt>
		      <dd class="meta-block__defin">{% for transcrition in item.transcrition %}{{ transcription }} <br> {% endfor %}</dd>
		    {% endif %}

		  </dl>

		</div>

		<hr>
		<h1>ElasticSearch Record</h1>
		<pre><code>{{ item_json }}</code></pre>
		
		<hr>
		<h1>Mapped Metadata</h1>
		<pre><code>{{ mapped_metadata }}</code></pre>

		<hr>
		<h1>Vernacular Metadata</h1>
		<pre><code>{{ vernacular_metadata }}</code></pre>
	</div>
</body>
</html>