name: Dags Check
on:

    pull_request:
        branches:
        - main
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v3
        - name: Set up Python
          uses: actions/setup-python@v4
          with:
            python-version: "3.9"
        
        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install -r dags/requirements.txt
            pip check
        - name: Lint dags with ruff
          run: |
            pip install ruff
            ruff check --format=github ./dags
        - name: Test with Pytest
          run: |
            pip install pytest 
            pytest dags_tests.py -v
